<div class="container-fluid shd-game-container">
    <div class="row shd-title-row ">
        <div class="col-6 d-flex align-items-center">
            <h1 class="ps-5 fw-light">The Game Of Life</h1> 
            <button class="shd-btn-icon-primary fs-xl ps-5" (click)="showInfo()"><i class="bi bi-info-circle"></i></button>
        </div>
    </div>
    <div class="row shd-canvas-row d-flex justify-content-center">
        <div #canvasContainer class="col-12 px-0 d-flexjustify-content-center align-items-center shd-game-container">
            <canvas #gameCanvas (click)="handleCanvasClick($event);"></canvas>
        </div>
    </div>
    <div class="row align-items-center shd-controls-row ">
        <div class="col-4 d-flex flex-column ps-5">
            <div>
                generation: <span class="ms-4">{{generation}}</span> 
            </div>
            <div>
                current_population: <span class="ms-4">{{population}}</span> 
            </div>
            <div>
                status: <span *ngIf="running" class="ms-4 shd-color-success">on_going</span> 
                <span *ngIf="!running" class="ms-4 shd-color-error">stopped</span>
            </div>
        </div>

        <div class="col-4 d-flex">
            <div>
                <button (click)="toggleRunning()" class="shd-btn-primary me-3">{{ running ? 'Pause' : 'Start'
                    }}</button>
                <button (click)="resetGrid()" class="shd-btn-outline-dark">Reset</button>
            </div>
        </div>
    </div>
</div>