

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Libre+Barcode+39+Text&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

$font-family-sans-serif-headers: 'Roboto Mono', 'Roboto Slab', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif-body: 'Roboto Mono', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: $font-family-sans-serif-headers;
$display-font-family: $font-family-sans-serif-body;

body {
    font-family: $font-family-sans-serif-body;
    background-color: black;
    color: $accent
}

ul {
    list-style-type: none
}


.shd-color-white {
    color: white !important;
}
.shd-color-black {
    color: black;
}

.shd-color-spash {
    color: $splash
}

.shd-color-secondary {
    color: $secondary;
}

.shd-color-accent {
    color: $accent;
}
.shd-color-primary {
    color: $primary !important;
}
.shd-bg-light-grey{
    background-color: $light-grey ;
}
.shd-bg-dark-grey {
    background-color: $dark-grey;
}
.shd-bg-splash {
    background-color: $splash;
}
.shd-bg-white {
    background-color: white;
    border-color: white;
}
.shd-color-danger{
    color: $danger !important;
}
.shd-color-success{
    color: $success !important;
}

.shd-bg-medium-grey {
    background-color: $medium-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .ff-title
}

.ff-title{
    font-family: $headings-font-family;
}

.ff-body{
    font-family: $display-font-family;
}

::placeholder {
    font-size: $font-size-sm;
    font-weight: $font-weight-light
}

.shd-input-group-text {
    @extend .input-group-text;
    //background-color: $secondary;
    border-color: $black;
}   

.shd-form-control.search-bar:focus {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


// additional bootstrap styles
.fs-sm {
    font-size: $font-size-sm;
}
.fs-lg {
    font-size: $font-size-lg !important;
}
.fs-xl {
    font-size: $font-size-xl !important;
}
.fs-xxl{
    font-size: 2*$font-size-base; 
}
.fs-huge{
    @media (max-width: map-get($map: $grid-breakpoints, $key: md)) {
        font-size: 2*$font-size-base;        
    }
    font-size: 3.5*$font-size-base;
}
.fs-xxxl{
    font-size: 2.7*$font-size-base !important;
}
.fs-xs {
    font-size: $font-size-xs;
}

.fs-error{
    color: red;
}

.fs-it{
    font-style: italic;
}
.lh-lg{
    line-height: 1.5 !important;
}

.fw-extra-bold{
    font-weight: $font-weight-bolder;
}
.fw-bold{
    font-weight: $font-weight-semibold !important;
}
.fw-light{
    font-weight: $font-weight-light;
}
.overflow-hidden {
    overflow: hidden;
}

.overflow-wrap{
    overflow-wrap: normal;
}
.overflow-scroll{
    overflow: scroll;
}

.letter-spacing-lg{
    letter-spacing: 2px;
}

.vh-100{
    height: 100vh;
}
.vw-100{
    width: 100vh;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.h-100vh{
    height: 100vh;
}

.border-end{
    border-right: 1px $gray-300 solid;
}

.border-start{
    border-left: 1px $gray-300 solid;
}

.fs-italic{
    font-style: italic;
}

.fs-underline{
    text-decoration: underline;
}

.fs-2{
    font-size: $h2-font-size !important;
}

.ls-3{
    letter-spacing: 3px;
}

.opacity-full{
    opacity: 1;
}